/* Here starts styles for our_story-section */
/* DEBUG
* { outline: solid 1px red; }
*/

/*********** General Styles Start ***********/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
* {
    box-sizing: border-box;
  }


:root {
  --green: #00e0d0;
  --lightGrey: #333;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 16px;
  color: #3a3a3a;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.btn {
  display: inline-block;
  padding: 10px;
  margin: 25px 0;
  border: 1px solid var(--green);

  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--green);
  text-decoration: none;
  text-transform: uppercase;
}

.btn:active,
.btn:hover {
  color: #fff;
  background: var(--green);
  border: 1px solid var(--green);
}

main section {
    width: 1280px;
    margin: 0 auto;
}

.sectionHeadline {
  margin-top: 0;

  font-family: 'Playfair Display', Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

/*********** General Styles Stop ***********/

/* Here stops code for our_story-section */
#our_story-section {
  margin: 0 auto;
  padding: 3rem 6rem;

  background: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#our_story-section article {
    padding: 2rem;
}

#our_story-section article:first-child {
    width: 30%;
}

#our_story-section article:nth-child(2) {
    width: 70%;
}

@media (max-width: 767px) {
  #our_story-section article {
    flex: 100%;
  }
}

#our_story-section article img {
  max-width: 100%;
  height: auto;
}

#our_story-section article p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;

}

/* Here stops code for our_story-section */


/* Here start code for watch-section */
#watch-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80vh;

  background: url("images/bgk-middle.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#watch-section article {
  text-align: center;
}

#watch-section article h3 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
/* Here stops code for watch-section */

/* Here start code for expertise-section */
#expertise-section {
  margin: 6rem 0;
}

#expertise-section article:first-child {
  margin: 0 auto;
  padding: 2rem;

  text-align: center;

}

#expertise-section article p {
  position: relative;

  color: var(--lightGrey);
}

#expertise-section article:first-child p::after {
  position: absolute;
  left: calc(50% - 35px);
  top: 35px;
  display: block;
  width: 70px;
  border-bottom: 3px solid #333;
  content: "";
}



#services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1px;
}

#services .card {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px;

  padding: 1.5rem;

  text-align: center;
}

#services .card:nth-child(1) {  border-right: 1px solid var(--lightGrey);  border-bottom: 1px solid var(--lightGrey);  }
#services .card:nth-child(2) {  border-right: 1px solid var(--lightGrey);  border-bottom: 1px solid var(--lightGrey);  }
#services .card:nth-child(3) {  border-bottom: 1px solid var(--lightGrey);  }
#services .card:nth-child(4) {  border-right: 1px solid var(--lightGrey);  }
#services .card:nth-child(5) {  border-right: 1px solid var(--lightGrey);  }

@media (max-width: 767px) {
  #services .card {
    border: none !important;
  }
}



#services .card .icon {
  width: 50px;
}

#services .card h3 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.rem;
  font-weight: 600;
}


#services .card p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--lightGrey);
}



/* Here start code for expertise-section */

#team-section {
    background-image: url(./images/bgk-team.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    /* min-width: 200px; */
    /* max-width: 1000px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    justify-content: space-around;
    color: white;
}

.team-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    min-height: 200px;
    min-width: 600px;
    background: transparent;

}
.about-content{
    border: 1px solid white;
    text-align: center;
    font-size: 0.6rem;
}
.blank {
    background-color: white;
    height: 60%;
    width: auto;
    font-size: 1rem;
}

.button-hiring {
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  margin: 0 auto;

}
.button-hiring:hover {
  color: black;
  background:  rgba(255, 255, 255, 0.2);

}

.hiring {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.contact-client-section {
    height: 30rem;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    overflow: hidden;
    margin: 2rem 4rem ;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.button-contact {
    color: #00e0d0;
    cursor: pointer;
    border: 1px solid #00e0d0 ;
    background: transparent; 
    border-radius:0.12em;
    box-sizing: border-box;
    padding:0.35em 1.2em;
    box-sizing: border-box;
    /* padding: 10px 10px;   */
}

.happy-clients {
  color:black;
  overflow: hidden;
  min-width: 200px;
  /* height: auto;
  width: 100%; */


}

.clientsimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem ;
}

.clientsimg img {
    min-width: 3rem;  
    max-width: 6rem;
    padding: 7px;
    margin-top: 1rem;
    height: auto;
}

input, select, textarea {
    padding: 0.4rem auto ;
    margin-top: 6px;
    width: 300px;
    margin-bottom: 16px;

    border: 1px solid #ccc;
}

.contact-subject {
    resize: none;
}


